$nav-border: 0.35px solid;
$nav-border-color: theme('colors.gray.300');

.pagy.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: inline-block;
    padding: 0.4rem 0.75rem;
    font-size: 0.9rem;
    color: theme('colors.gray.700');
    border-top: $nav-border;
    border-bottom: $nav-border;
    border-color: $nav-border-color;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:nth-child(odd) {
      border: $nav-border;
      border-color: $nav-border-color;
    }

    &:last-child {
      border-right: $nav-border;
      border-color: $nav-border-color;
    }

    &:hover {
      background-color: #f0f0f0;
    }

    &[aria-disabled='true'] {
      cursor: auto;
      color: theme('colors.gray.300');
    }

    &.current {
      background-color: white;
      color: theme('colors.primary');
      font-weight: 600;
      border: $nav-border;
      border-color: theme('colors.primary');
    }
  }
}
