[v-cloak] {
  display: none;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

/* antd default */
a {
  text-decoration: unset !important;

  &:active {
    color: unset;
  }

  &:hover {
    color: unset;
  }
}

/* antd default */

/* w3 default*/
.w3-radio {
  width: 24px !important;
  height: 24px !important;
}

.w3-check {
  width: 24px !important;
  height: 24px !important;
}

/* w3 default*/

/* table */
table {
  height: fit-content;
  position: relative;

  thead {
    tr:first-of-type {
      position: sticky;
      top: -1px;
      z-index: 10;
    }
  }

  td {
    word-break: break-all;
    vertical-align: middle !important;
  }
}

.w3-hoverable tbody tr:hover,
.w3-ul.w3-hoverable li:hover {
  @apply bg-blue-100/50;
}

.table-sorter-icon {
  display: flex;
  align-self: center;

  &.icon-sort-down {
    margin-bottom: 5px;
  }
}

@media (max-width: 1022px) {
  tbody td[data-title] {
    &:before {
      font-size: 1.1em;
      font-weight: bold;
      display: inline-block;
      float: left;
      width: 33%;
      content: attr(data-title);
      text-align: middle;
      white-space: pre-line;
    }
    &.md\:grid::before {
      width: 100%;
    }
  }

  .tablesorter-colgroup > col {
    width: 100% !important;
  }
}

.overflow-container {
  @apply w-full overflow-auto overflow-x-auto overflow-y-auto rounded;
}

.custom-thead {
  @apply bg-gray-200 text-gray-800;
}

/* table */

/* input */
input,
select {
  @apply border-gray-300;

  &:disabled {
    background-color: #eeeeee;
  }
}

.w3-input {
  @apply rounded-none;
}

.custom-input {
  @apply w-full cursor-default rounded-[4px] border border-gray-300 bg-white px-2 py-[0.69rem] text-left shadow-sm transition-colors duration-300 hover:border-[#4096ff] focus:outline-none;
}
.custom-validate-input {
  @apply border border-red-400;
}
.custom-validate-message {
  @apply mb-0 mt-1 text-sm text-red-400;
}
/* input */

/* button */
@mixin base-button {
  @apply inline-block cursor-pointer overflow-hidden rounded border px-3 py-2;
}
.custom-base-button {
  @include base-button;
}

.custom-primary-button {
  @include base-button;
  @apply cursor-pointer border-primary bg-primary text-white hover:bg-primary/90 hover:text-white disabled:cursor-not-allowed disabled:border-gray-400 disabled:bg-white disabled:text-gray-400;
}

.custom-secondary-button {
  @include base-button;
  @apply whitespace-nowrap border-secondary bg-secondary text-white hover:bg-secondary/90 hover:text-white;
}

.custom-tertiary-button {
  @include base-button;
  @apply whitespace-nowrap border-tertiary bg-tertiary text-white hover:bg-tertiary/90 hover:text-white;
}

.custom-cancel-button {
  @include base-button;
  @apply inline cursor-pointer border-0 bg-gray-100 py-3 text-gray-700 hover:bg-gray-100/50;
}

.custom-blue-button {
  @include base-button;
  @apply whitespace-nowrap border-blue-500 bg-blue-500 text-white hover:bg-blue-500/90 hover:text-white;
}

.custom-red-button {
  @include base-button;
  @apply cursor-pointer whitespace-nowrap border-red-400 bg-red-400 text-white hover:bg-red-500;
}

.custom-outline-gray-button {
  @include base-button;
  @apply inline cursor-pointer border border-gray-200 bg-white py-3 text-gray-700 hover:bg-gray-100;
}

.custom-outline-blue-button {
  @include base-button;
  @apply border-blue-900 bg-white text-blue-900 hover:bg-gray-50 hover:text-blue-900;
}

.custom-outline-red-button {
  @include base-button;
  @apply border-red-400 bg-white text-red-400 hover:bg-red-400 hover:text-white;
}

.custom-button-bar {
  @apply flex w-full justify-end gap-x-2 px-2 pb-4 pt-10;
}
/* button */

/* sweetAlert */
.vue-swal-custom-class {
  .swal2-confirm {
    @apply bg-blue-500;
  }
}

.swal2-container.customSwal {
  button.swal2-confirm {
    @apply bg-blue-500;
  }

  button.swal2-cancel {
    @apply bg-gray-400;
  }

  &.simpleLoading {
    cursor: wait;
  }

  .swal2-loading {
    background: transparent;
  }

  .swal2-loader {
    border-width: 0.4em;
    width: 5em;
    height: 5em;
    border-color: #cfe7ebda #0000;
    animation: swal-simpleLoading 1s ease-in-out infinite;
    opacity: 0.5;

    @keyframes swal-simpleLoading {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

div:where(.swal2-container) button:where(.swal2-close):hover {
  @apply text-gray-600;

  &:hover {
    @apply text-gray-600;
  }

  &:focus {
    box-shadow: unset;
  }
}
/* sweetAlert */

/* session */
.session-button {
  @apply m-4 rounded-lg border-2 border-primary bg-white px-8 py-4 text-center font-bold text-primary hover:bg-primary/10 hover:text-primary;
}
/* session */

/* scrollbar */
.custom-scrollbar {
  &::-webkit-scrollbar {
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: theme('colors.gray.100');
    border-radius: 10px;
    margin: 20px 0;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: theme('colors.gray.300');
  }
}
/* scrollbar */
