[v-cloak] {
  display: none;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

/* antd default */
a {
  text-decoration: unset !important;

  &:active {
    color: unset;
  }

  &:hover {
    color: unset;
  }
}

/* antd default */

/* w3 default*/
.w3-radio {
  width: 24px !important;
  height: 24px !important;
}

.w3-check {
  width: 24px !important;
  height: 24px !important;
}

/* w3 default*/

/* table */
table {
  height: fit-content;
  position: relative;

  thead {
    tr:first-of-type {
      position: sticky;
      top: -1px;
      z-index: 10;
    }
  }

  td {
    word-break: break-all;
    vertical-align: middle !important;
  }
}

.w3-hoverable tbody tr:hover,
.w3-ul.w3-hoverable li:hover {
  @apply bg-blue-100;
}

.table-sorter-icon {
  display: flex;
  align-self: center;

  &.icon-sort-down {
    margin-bottom: 5px;
  }
}

@media (max-width: 1022px) {
  tbody td[data-title]:before {
    font-size: 1.1em;
    font-weight: bold;

    display: inline-block;
    float: left;

    width: 33%;

    content: attr(data-title);
    text-align: middle;
    white-space: pre-line;
  }
}

.overflow-container {
  @apply w-full overflow-auto overflow-x-auto overflow-y-auto rounded border p-2;
}

/* table */

/* input */
input,
select {
  @apply border-gray-300;

  &:disabled {
    background-color: #eeeeee;
  }
}

.w3-input {
  @apply rounded-none;
}

.custom-input {
  @apply focus:outline-none w-full cursor-default rounded-md border border-gray-300 bg-white px-2 py-3 text-left shadow-sm focus:ring-1 sm:text-sm;
}
/* input */

/* button */
@mixin base-button {
  @apply inline-block cursor-pointer overflow-hidden rounded border py-2 px-3;
}
.custom-base-button {
  @include base-button;
}

.custom-submit-button {
  @include base-button;
  @apply bg-teal-600 border-teal-600 hover:bg-teal-500 cursor-pointer text-white disabled:cursor-not-allowed disabled:border-gray-400 disabled:bg-white disabled:text-gray-400;
}

.custom-back-button {
  @include base-button;
  @apply inline cursor-pointer border-0 bg-white py-3 text-gray-800 hover:bg-gray-100;
}

.custom-edit-button {
  @include base-button;
  @apply whitespace-nowrap border-blue-500 bg-blue-500 text-white hover:bg-blue-500 hover:text-white;
}

.custom-create-button {
  @include base-button;
  @apply border-blue-900 bg-white text-blue-900 hover:bg-gray-50 hover:text-blue-900;
}

.custom-reset-button {
  @include base-button;
  @apply border-red-400 bg-white text-red-400 hover:bg-red-400 hover:text-white;
}

.custom-remove-button {
  @include base-button;
  @apply cursor-pointer whitespace-nowrap border-red-400 bg-red-400 text-white hover:bg-red-500;
}

.custom-add-button {
  @include base-button;
  @apply cursor-pointer border-blue-500 bg-blue-500 text-white hover:bg-blue-600;
}

.custom-button-bar {
  @apply flex w-full justify-end gap-x-2 px-4 pt-10 pb-4;
}

/* button */

/* sweetAlert */
.vue-swal-custom-class {
  .swal2-confirm {
    @apply bg-blue-500;
  }
}

.swal2-container.customSwal {
  button.swal2-confirm {
    @apply bg-blue-500;
  }

  &.simpleLoading {
    cursor: wait;
  }

  .swal2-loading {
    background: transparent;
  }

  .swal2-loader {
    border-width: 0.4em;
    width: 5em;
    height: 5em;
    border-color: #cfe7ebda #0000;
    animation: swal-simpleLoading 1s ease-in-out infinite;
    opacity: 0.5;

    @keyframes swal-simpleLoading {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

div:where(.swal2-container) button:where(.swal2-close):hover {
  @apply text-gray-600;

  &:hover {
    @apply text-gray-600;
  }

  &:focus {
    box-shadow: unset;
  }
}

/* sweetAlert */

/* session */
.session-button {
  @apply m-4 rounded-lg border-2 border-gray-300 bg-gray-200 py-4 px-8 text-center font-bold text-blue-600 hover:bg-gray-300 hover:text-blue-600;
}
/* session */
