<%= render "/notice" %>
<%= render "/setting/navbar" %>

<div class="px-4 container mx-auto md:px-2">
  <div class="py-4 flex justify-between items-center">
    <h3 class="">匯入檔案</h3>
  </div>
  <%= content_tag "div", "", id: "form-app" %>
</div>