<% if flash[:notice].present? %>
  <div id="notice" data-type="toast" data-title="<%= flash[:notice] %>">
  </div>
<% elsif flash[:error].present? %>
  <div id="notice" data-type="error" data-title="<%= flash[:error] %>">
  </div>
<% elsif flash[:alert].present? %>
  <div id="notice" data-type="error" data-title="<%= flash[:alert] %>">
  </div>
<% end %>