<div class="flex gap-4">
  <% %w[enable disable].each do |state_name| %>
    <div>
      <%= label_tag t("enumerize.defaults.state.#{state_name.to_sym}"), for: "state_#{state_name}" do %>
      <%= radio_button_tag(:state, state_name, (state == state_name), class: "w3-radio") %>
      <%= t("enumerize.defaults.state.#{state_name}") %>
      <% end %>
    </div>
  <% end %>
</div>