<footer class="py-2 text-center bg-no-green-4">
  <p class="text-white text-xs">
    &copy; <a href= "http://www.amastek.com.tw/zh/" target= _new >AMASTek Inc.</a> All rights reserved.
  </p>
</footer>
